@charset "utf-8";
/* CSS Document */
/***********************************/
/********Estilos Index.html*********/
/***********************************/
#superiorIndex{
	
	background-color:#FFF;
	border:none;
	display:block;
	height:10em;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
}
#centralIndex{
	display:block;	
	height:15em;
	text-align:center;	
	width:100%;	
}
#menuIndex{
	background-color:#C60;
	height:3em;	
	width:6em;
}
#tituloMenu{

}
#menuIndex li{
	display:none;
}



/*********************************/
/*Estilos Mantenedor Empresas.php*/
/*********************************/

#superiorMantEmpresas{
	display: block;
	height: 6em;
	width: 100%;
}
#centralMantEmpresas{
	display: block;
	width: 100%;
}

#inferiorMantEmpresas{
	display: block;
	height: 6em;
	width: 100%;
}
.formularioMantenedor{
	border:1px solid #c60;
	margin: auto;
	padding-top: 1em;
	width: 50%;
	box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
}
.claseAsterisco{
	width:2em;
	color:#c60;
	font-weight::bold;
}
.claseFormularioTitulo{
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5em;
	height: 3em;
	text-align: center;
}
.claseFormularioTitulo label{
	color:#C60;
	font-weight:bold;
	font-size12em;
	}
	
.claseFormularioItems{
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.2em;
	height: 2.7em;
	text-align: center;
}

.claseFormularioItems label{
	display: inline-block;
	width: 10em;
	min-width: 8em;
	text-align: left;
}
.claseFormularioItems input, select{
	display: inline-block;
	width: 30%;
}

	
.claseFormularioItemsBoton{
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5em;
	height: 3em;
	margin-top:1em;
	text-align: center;
	
}
.claseFormularioItemsBoton input{
	background-color:#C60;
	border:1px solid #FFF;
	color:#FFF;
	height:3em;
	margin:0px 1em;
	width:7em;	
	}
.claseFormularioItemsBoton input:hover{
	background-color:#F90;
	}
	
/**********************************/
/*Estilos Mantenedor Usuarios.php**/
/**********************************/
#superiorMantUserAdmin{
	display: block;
	height: 6em;
	width: 100%;
}
#centralMantUserAdmin{
	display: block;
	width: 100%;
}

#inferiorMantUserAdmin{
	display: block;
	height: 6em;
	width: 100%;
}
/***************************/
/*Estilos Mantenedor Chofer*/
/***************************/
#superiorMantChofer{
	display: block;
	height: 6em;
	width: 100%;
}
#centralMantChofer{
	display: block;
	width: 100%;
}
#inferiorMantChofer{
	display: block;
	height: 6em;
	width: 100%;
}
/*****************************/
/*Estilos Mantenedor de Movil*/
/*****************************/
#superiorMantMovil{
	display: block;
	height: 6em;
	width: 100%;
}
#centralMantMovil{
	display: block;
	width: 100%;
}
#inferiorMantMovil{
	display: block;
	height: 6em;
	width: 100%;
}
.claseFormularioItemsRadio{
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.2em;
	height: 2.7em;
	text-align: center;
	}
	.claseFormularioItemsRadio label{
	display: inline-block;
	width: 10em;
	min-width: 8em;
	text-align: left;
	}
	.claseFormularioItemsRadio input {
		display: inline-block;
		width: 5%;
		height:1em;
	}
	.claseFormularioItemsRadio h2{
		display: inline-block;
		font-size:0.9em;
		font-weight:bold;
		}
		
.claseFormularioItemsBotonMovil{
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5em;
	height: 3em;
	margin-top:3em;
	text-align: center;
}
.claseFormularioItemsBotonMovil input{
	background-color:#C60;
	border:1px solid #FFF;
	color:#FFF;
	height:3em;
	margin:0px 1em;
	width:7em;	
	}
.claseFormularioItemsBotonMovil input:hover{
	background-color:#F90;
	}
	
/*************************/
/***Mantenedor de Vales***/
/*************************/
#superiorIngVales{
	height:7em;
	overflow:hidden;
	text-align:center;
	white-space:nowrap;
	width:100%;	
}
#superior1{
	display:inline-block;
	height:100%;
	text-align:left;
	width:50%;	
	white-space:nowrap;
	overflow:hidden;
}
#superior2{
	display:inline-block;
	height:100%;
	text-align:right;
	width:30%;
	white-space:nowrap;
	overflow:hidden;
}

.formularioMantenedorVales{
	border:1px solid #c60;
	margin: auto;
	padding-top: 1em;
	width: 80%;
	box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
}
#bloqueVal1{
	display:block;
	text-align:center;
	width:100%;		
}
#bloqueVal2{
	display:block;
	text-align:center;
	width:100%;		
}
#bloqueVal3{
	display:block;
	text-align:center;
	width:100%;		
}
#bloqueVal4{
	display:block;
	text-align:center;
	width:100%;		
}
#bloqueVal5{
	display:block;
	text-align:center;
	width:100%;		
}
#bloqueVal6{
	display:block;
	text-align:center;
	width:100%;		
}
#bloqueVal7{
	display:block;
	text-align:center;
	width:100%;		
}
#bloqueVal8{
	display:block;
	text-align:center;
	width:100%;		
}

.claseblock{
	border:1px solid #CCC;
	display:inline-block;
	height:5.5em;
	width:20em;
	min-width:15em;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
}
.claseblockspecial{
	border:1px solid #CCC;
	display:inline-block;
	height:5.5em;
	width:40.2em;
	min-width:15em;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
}
.claseblockspecial2{
	border:1px solid #CCC;
	display:inline-block;
	height:3em;
	margin-bottom:0.3em;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
	width:60.4em;
	min-width:15em;
	text-align:center;
}
.claseblockspecialfinal{
	border:1px solid #CCC;
	display:inline-block;
	height:3em;
	width:40.2em;
	min-width:15em;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
}
.claseblockfinal{
	border:1px solid #CCC;
	display:inline-block;
	height:3em;
	width:20em;
	min-width:15em;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
}

#lblIngFecVal {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	margin-top:1em;
	width:7em;			
}

#txtIngFecVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	width:10em;	
}
#lblIngMovVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:4em;
}
#txtIngMovVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:5em;
}
#lblFecActVal1, #lblFecActVal2{
	color:#C60;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	margin-top:1em;
	width:5.2em;
}
#lblIngDueVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:3.5em;
}
#txtIngDueVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	width:13em;
}

#lblIngPorDueVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:10.5em;
}

#txtIngPorDueVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	width:5em;
}
#lblIngChoVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:3.5em;
}
#txtIngChoVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	width:13em;
}

#lblIngPorChoVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:10.5em;
}
#txtIngPorChoVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	width:5em;
}

#lblIngViajVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:0.8em;
	width:6em;
}
#txtIngViajVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	width:8em;
}
.claseblock section{
	margin:0.5em 0 0 0.5em;
}
#lblIngTicVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	margin-top:1em;
	width:5.3em;
}
#txtIngTicVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	width:5em;
}
#lblIngZulVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	margin-top:1em;
	width:3.5em;
}
#txtIngZulVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:13em;
}

#lblIngRecVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:5em;
}
#txtIngRecIniVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:32em;
}
#txtIngRecFinVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	margin-left:3em;
	width:35em;
	
}


#lblIngTieVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:5em;
}
#txtIngHorVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:2.5em;
}
#txtIngMinVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:2.5em;
}
#lblIngValVal{
	color:#c60;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight:bold;
	display:inline-block;
	margin-left:1em;
	width:5em;
}

#lblIngTotTieVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:6em;
}
#txtIngTotTieVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:8em;
}

#lblIngTotSerVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:6em;
}
#txtIngTotSerVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:8em;
}
#lblIngTotFinVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:6em;
}
#txtIngTotFinVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:8em;
}

.lblIngPorTitVal{
	color:#c60;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight:bold;
	display:inline-block;
	margin-left:1em;
	width:5em;
}

#lblIngPorcentajeChoVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	margin-top:1em;
	width:6em;
}
#txtIngPorcentajeChoVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	width:8em;
}
#lblIngPorcentajeMovVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:6em;
}
#txtIngPorcentajeMovVal{
	display:inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	margin-top:1em;
	width:8em;
}
#lblIngTotalZulVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	margin-top:1em;
	width:6em;
}
#txtIngTotalZulVal{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	margin-left:1em;
	width:6em;
}


